header {
    background-color:transparent;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color:  #4169E1;
    font-size: 1.4em;
    font-weight: 200;
    cursor: pointer;
}

header nav {
    width: 50px;
    height: 50px;

    background-color: #4169E1;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

header nav:hover {
    transform: scale(1.1);
    z-index: 1;
}

.fa-solid {
    color: white;
}