header {
    background-color: transparent;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-img {
    padding: 20px;
}

header img {
    width: 10%;
    height: 10%;
    margin: 0 8px;
    cursor: pointer;
}


header nav {
    width: 32px;
    height: 32px;
    background-color: white;
    margin: 0 8px;
    border: 1px #00e0ff solid;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

header nav:hover {
    transform: scale(1.1);
    z-index: 1;
}

.fa-solid {
    color: #0F0F0F;
}