header {
    background-color: #00b1ff;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
}

header nav {
    width: 50px;
    height: 50px;

    background-color: #27c0ff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

header nav:hover {
    transform: scale(1.1);
    z-index: 1;
}

.fa-solid {
    color: #add3ff;
}